<!-- <div class="login-container bg-dark text-light">
  <h2>Login</h2>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <div class="buttons d-grid gap-2">
      <button type="submit" [disabled]="!loginForm.valid">Accedi</button>
      <p *ngIf="login"><a routerLink="/dashboard"></a></p>
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
  </form>
</div> -->

<section class="container">
  <div class="login-container bg-dark text-light">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
      <h1 class="opacity">LOGIN</h1>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">USERNAME</label>
          <input type="text" id="username" name="username" [(ngModel)]="user.username" required />
        </div>
        <div class="form-group">
          <label for="password">PASSWORD</label>
          <input type="password" id="password" name="password" [(ngModel)]="user.password" required />
        </div>
        <button class="opacity" type="submit" [disabled]="!loginForm.valid">SUBMIT</button>
      </form>
      <div class="register-forget opacity">
        <a routerLink="/register">REGISTER</a>
        <a href="">FORGOT PASSWORD</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>

