<div class="container">
  <h1>Benvenuto nella Gestione Dispositivi!</h1>
  <p>
    Questa è la homepage dell'applicazione. Qui puoi iniziare a navigare
    tra le varie funzionalità e gestire gli utenti e i dispositivi aziendali.
  </p>
  <div class="buttons">
    <a routerLink="/utenti" class="btn btn-primary">Gestisci Utenti</a>
    <a routerLink="/dispositivi" class="btn btn-primary">Gestisci Dispositivi</a>
    <a routerLink="/assegnazione" class="btn btn-primary">Assegna Dispositivo</a>
  </div>
  <div class="buttons">
    <a routerLink="/login" class="btn btn-primary">Login</a>
    <a routerLink="/register" class="btn btn-primary">Register</a>
  </div>
</div>

