<!-- Selettore dei dispositivi -->
<div class="form-group">
  <label for="deviceSelect">Seleziona un dispositivo:</label>
  <select class="form-control" id="deviceSelect" [(ngModel)]="selectedDeviceId" name="deviceSelect">
    <option *ngFor="let device of dispositivi" [ngValue]="device.id">{{ device.nome }}</option>
  </select>
</div>

<!-- Selettore degli utenti -->
<div class="form-group">
  <label for="userSelect">Seleziona un utente:</label>
  <select class="form-control" id="userSelect" [(ngModel)]="selectedUserId" name="userSelect">
    <option *ngFor="let user of utenti" [ngValue]="user.id">{{ user.username }}</option>
  </select>
</div>

